@model IEnumerable<FastRecrut.Web.ViewModels.RatioViewModel>

@{
    await Html.RenderPartialAsync("_PartialRatioLevel");
}

<h2>Ratio</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Junior
            </th>
            <th>
                Confirmé
            </th>
            <th>
                Expert
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Junior))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Confirme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Expert)
                </td>
            </tr>
        }
    </tbody>
</table>
